.project {
    z-index: 1;
    max-width: 620px;
    margin: auto;

    &__hero {
        z-index: 1;
        padding: 2rem;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;

        &__content {
            z-index: 1;
        }

        &__link {
            z-index: 1;
            display: flex;
            gap: 1rem;

            svg {
                fill: var(--text-color);
            }
        }

        img {
            z-index: 0;
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 1024px;
            width: 100%;
            height: 90%;
            object-fit: cover;
            opacity: 0.75;
        }
    }

    &__main {
        padding: 2rem;

        &__about {
            margin-bottom: 2rem;

            h2 {
                font-size: 3rem;
                margin-bottom: 1rem;
                font-weight: 500;
            }

            &__details {
                font-size: 1.25rem;
                color: var(--white-color-light);
                line-height: 1.875rem;
                margin-bottom: 2rem;
            }

            &__tags {
                cursor: default;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                span {
                    background-color: var(--white-color-light);
                    padding: 0.25rem 0.75rem;
                    border-radius: 1rem;
                    margin-right: 1rem;
                    font-size: 0.8rem;
                    color: var(--text-dark-color);
                }
            }
        }

        &__subtitle {
            margin-bottom: 1rem;
            text-transform: uppercase;
            color: var(--primary-dark-color);

            &__details {
                font-size: 1.25rem;
                color: var(--white-color-light);
                line-height: 1.875rem;
                margin-bottom: 2rem;
            }
        }

        &__contributors {
            &__details {
                display: flex;
                gap: 1rem;
                font-size: 1.25rem;
                color: var(--white-color-light);
                line-height: 1.875rem;
                margin-bottom: 2rem;
            }
        }

        &__link__item {
            color: var(--white-color-light);
            fill: var(--white-color-light);
            transition: all 0.2s ease-in-out;

            &:hover {
                color: var(--primary-color);
                fill: var(--primary-color);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}