* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{

  //colors
  --text-color: #F0F8FF;
  --text-dark-color: #212121;
  --white-color-light: #BCC7D2;
  --primary-color: #00BF6C;
  --primary-dark-color: #0B814E;
  --background-color: #0F0F15;
  --background-color-light: #191924;
  --border-color: #2f2f35;

  //padding
  --col-gap: 1.25rem;
}

html,
body {
  max-width: 1024px;
  margin: auto;
  overflow-x: hidden;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'gabarito';
  z-index: 0;
  scroll-behavior: smooth;
  
}


a{
  text-decoration: none;
  color: var(--text-color);
}

.myWorkSection {
  max-width: 620px;
  margin: auto;
  margin-top: 4rem;
  padding:var(--col-gap);
  position: relative;

  h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      font-weight: 500;
  }

  &__projects {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

  }
}