.aboutSection {
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;

    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    &__canvas {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
    }

    &__container {
        z-index: 1;
        margin: 2rem 0 0 8rem;
        width: 100%;

        &__content{
            color: var(--white-color-light);
            font-size: 2rem;
        }
    }
}