.header {
    z-index: 99;
    position: relative;
    position: fixed;
    width: 1024px;
    top: 0;
    backdrop-filter: blur(50.5px);
    background-color: #0f0f15b6;


    .menu {
        z-index: 3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--col-gap);

        &__name {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-family: var(--font-integral), sans-serif;

            p span {
                color: var(--primary-color);
                font-family: var(--font-domaineDispNar), serif;
                font-weight: 900;
                font-size: 1.35rem;
                font-style: italic;
            }

            &__logo {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1.25rem;
                    fill: var(--text-color);
                    margin-right: 1rem;
                }
            }
        }

        &__hamburger {
            z-index: 3;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 1rem;

            span {
                margin-right: 1rem;
            }

            &__navigation {
                width: 2rem;
                height: 2rem;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    background: var(--primary-dark-color);
                    border-radius: 50%;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transform: scale(0);
                    transition: transform .2s cubic-bezier(.645, .045, .355, 1);
                }

                &__dots {
                    z-index: 4;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 0.25rem;
                    width: 0.25rem;
                    background: var(--text-color);
                    border-radius: 50%;

                    &::before {
                        position: absolute;
                        content: '';
                        background: var(--text-color);
                        border-radius: 50%;
                        height: 0.25rem;
                        width: 0.25rem;
                        transform: translateX(-0.625rem);
                        transition: transform .2s cubic-bezier(.645, .045, .355, 1);
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        background: var(--text-color);
                        border-radius: 50%;
                        height: 0.25rem;
                        width: 0.25rem;
                        transform: translateX(0.625rem);
                        transition: transform .2s cubic-bezier(.645, .045, .355, 1);
                    }
                }

                &__toggleClose {
                    z-index: 1;
                    width: 2rem;
                    height: 2rem;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: '';
                        background: var(--text-color);
                        height: 1rem;
                        width: 0.1rem;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(45deg) scale(1);
                        transition: transform .2s cubic-bezier(.645, .045, .355, 1);
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        background: var(--text-color);
                        height: 1rem;
                        width: 0.1rem;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
                        transition: transform .2s cubic-bezier(.645, .045, .355, 1);
                    }
                }

                &__dots.hidden {

                    &::before,
                    &::after {
                        transform: translateX(0);
                    }
                }

                &__toggleClose.hidden {

                    &::before,
                    &::after {
                        transform: translate(-50%, -50%) rotate(-45deg) scale(0);
                    }

                }
            }

            &:hover {
                .menu__hamburger__navigation {
                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }

    }

    &__nav {
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        transform: scale(0);
        transform-origin: top right;
        top: 0;
        right: 0;
        margin: 3.5rem 2.5rem;
        height: 100px;
        width: 10%;
        border-radius: 20px;
        border: 0.1px solid var(--border-color);
        background: var(--background-color-light);
        box-shadow: 0 10.5px 21px rgba(0, 0, 0, .08);
        backdrop-filter: blur(2px);
        transition: all 0.3s ease-in;


        &__navLink {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            flex-direction: column;
            padding: 1rem;

            &__item {
                position: relative;

                a {
                    transform: translateX(-50%);
                    color: var(--text-color);
                    text-decoration: none;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    p {
                        position: relative;
                        top: 0;
                        display: inline-block;
                        transition: all 0.3s ease-in-out;
                    }

                    span {
                        position: absolute;
                        left: 0;
                        top: -100%;
                        opacity: 0;
                        visibility: hidden;
                        color: var(--primary-color);
                        font-family: var(--font-domaineDispNar), serif;
                        font-weight: 800;
                        font-style: italic;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {

                        p {
                            opacity: 0;
                            visibility: hidden;
                            top: 100%;
                        }

                        span {
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                        }
                    }
                }
            }
        }

    }

    &__navIsOpen {
        transform: scale(1);
        transition: all 0.3s ease-out;
    }
}